<!DOCTYPE html>

<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <%= "Team Name: #{@team[:name]}" %>
   <%= "Coach: #{@team[:coach]}" %>
   <%= "Point Guard: #{@team[:pg]}" %>
   <%= "Shooting Guard: #{@team[:sg]}" %>
   <%= "Small Forward: #{@team[:sf]}" %>
   <%= "Power Forward: #{@team[:pf]}" %>
   <%= "Center: #{@team[:c]}" %>

 </body>
</html>


